.container {
	margin-top: 50px;
	width: 70%;
	border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px 15px;
  background-color: #eaeaea;
}
.float {
  cursor: pointer;
  margin-right: 10px;
}
.button {
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
